uploads/payments/*
!uploads/payments/.gitkeep
!uploads/payments/.htaccess

.env

*.log
.DS_Store
Thumbs.db

node_modules/
vendor/
tmp/

/.phpunit.cache/
/bootstrap/cache/*.php
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
